/* src/components/MediaItemsList.module.css */
.mediaItemsList {
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8),

            rgba(128, 128, 128, 0.6));
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(4px)
}




.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.header h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: .8rem;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #803af181;
    color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2rem;
    text-decoration: none;
    box-shadow: 6px 1px 4px 2px #0808085e;
}

.search a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-shadow: 4px 2px 4px #000000;
    text-decoration: none;
    font-weight: 400;
    font-size: 2.6rem;
}

.groupByOptions {
    margin-bottom: 1rem;
}

/* src/components/MediaItemsList.module.css */

.mediaItemsGrid {
    max-height: 42rem;

    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* Default to 1 column */
    padding: 1rem;
    gap: 2rem;
}

@media (min-width: 768px) {
    .mediaItemsGrid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        /* 2 columns on tablets and up */
    }

    .mediaItemThumbnail {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 18rem;
        background-color: #222227;
        color: white;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        padding: 1rem;
        margin-bottom: 1rem;
        transition-property: transform;
        transform: scale(1);
        box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    }
}

.mediaItemGroup {
    margin-bottom: 1.5rem;
}



.groupTitle {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.mediaItemThumbnail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18rem;
    background-color: #222227;
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: 1rem;
    margin-bottom: 1rem;
    transition-property: transform;
    transform: scale(1);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.mediaItemThumbnail:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.duration {
    font-size: 0.75rem;
}

.lockedBehind {
    color: #ef4444;
    font-size: 0.75rem;
}

.progressBar {
    width: 100%;
    height: 0.5rem;
    background-color: rgba(12, 12, 12, 0.5);
    margin-top: 0.5rem;
}

.progressFill {
    height: 100%;
}

.lockedProgressFill {
    background-color: #ef4444;
}

.unlockedProgressFill {
    background-color: #803af1;
}