/* src/components/SearchForm.module.css */

.container {
    background-color: #0A0A0B;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 2rem auto;
    color: whitesmoke;
}

.heading {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: whitesmoke;
}

.form {
    margin-bottom: 1.5rem;
}

.input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #803af181;
    background-color: #1A1A1B;
    color: whitesmoke;
    margin-bottom: 1rem;
}

.input:focus {
    outline: none;
    border-color: #803af181;
}

.checkboxLabel {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: whitesmoke;
}

.checkbox {
    margin-right: 0.5rem;
}

.button {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #803af181;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #803af1;
}

.resultsContainer {
    max-height: 400px;
    overflow-y: scroll;
}

.resultItem {
    border: 1px solid #803af181;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* src/components/SearchForm.module.css */

.resultTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.resultImage {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 0.5rem;
}

.resultOverview {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #d1d5db;
    /* Light gray text */
}

.resultInfo {
    font-size: 0.875rem;
    color: #9ca3af;
    /* Gray text */
    margin-bottom: 0.25rem;
}

.resultCredits {
    margin-top: 1rem;
}

.resultCreditsTitle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.resultCreditsList {
    list-style-type: disc;
    padding-left: 1.5rem;
    margin-bottom: 0.5rem;
    color: #d1d5db;
    /* Light gray text */
}

.addButton {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #10b981;
    /* Green color */
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #059669;
    /* Darker green on hover */
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.paginationButton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #6b7280;
    /* Gray color */
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginationButton:hover {
    background-color: #4b5563;
    /* Darker gray on hover */
}