/* src/components/UpdateForm.module.css */
.heroImage {
    width: 12rem;
    /* Tailwind's w-48 */
    height: 18rem;
    color: white;
    border-radius: 0.5rem;
    /* Tailwind's rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* src/components/UpdateForm.module.css */
.heroImage {
    width: 12rem;
    /* Tailwind's w-48 */
    height: 18rem;
    color: white;
    border-radius: 0.5rem;
    /* Tailwind's rounded-lg */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.container {
    padding: 1rem;

    border-radius: 0.5rem;
    /* Tailwind's rounded */
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8),
            /* Black with 80% opacity */
            rgba(128, 128, 128, 0.6)
            /* Grey with 60% opacity */
        );
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(4px)
}

.title {
    font-size: 1.25rem;
    /* Tailwind's text-xl */
    font-weight: 700;
    /* Tailwind's font-bold */
    margin-bottom: 1rem;
    /* Tailwind's mb-4 */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* Tailwind's space-y-4 */
}

.label {
    display: block;
    color: #4b5563;
    /* Tailwind's text-gray-700 */
}

.input {
    width: 100%;
    /* Tailwind's w-full */
}

.button {
    background-color: #3b82f6;
    /* Tailwind's bg-blue-500 */
    color: white;
    padding: 0.5rem 1rem;
    /* Tailwind's p-2 */
    border-radius: 0.25rem;
    /* Tailwind's rounded */
    margin-top: 0.5rem;
    /* Tailwind's mt-2 */
}

.buttonCancel {
    background-color: #6b7280;
    /* Tailwind's bg-gray-500 */
}

.buttonDelete {
    background-color: #ef4444;
    /* Tailwind's bg-red-500 */
}

.buttonComplete {
    background-color: #10b981;
    /* Tailwind's bg-green-500 */
}

.buttonMove {
    background-color: #f59e0b;
    /* Tailwind's bg-yellow-500 */
}

.flex {
    display: flex;
    gap: 1rem;
    /* Tailwind's space-x-4 */
}

.textLarge {
    font-size: 2.25rem;
    /* Tailwind's text-4xl */
    font-weight: 700;
    /* Tailwind's font-bold */
}

.textMedium {
    font-size: 1.125rem;
    /* Tailwind's text-lg */
}

.textBlue {
    color: #3b82f6;
    /* Tailwind's text-blue-500 */
    margin-top: 0.5rem;
    /* Tailwind's mt-2 */
}

.marginLeft {
    margin-left: 1rem;
    /* Tailwind's ml-4 */
}

.marginTop {
    margin-top: 1rem;
    /* Tailwind's mt-4 */
}

.wrapp {
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8),
            /* Black with 80% opacity */
            rgba(128, 128, 128, 0.6)
            /* Grey with 60% opacity */
        );
}